.order2{
    margin-top: 2rem;
    font-size: 1000;
}

.photo{
    display: flex;
    justify-content: center;
    height: 500px;
    margin-top: 3rem;
}

.name{
    display: flex;
    justify-content: center;
}

.finalprice{
    display: flex;
    justify-content: center;
}
.price4{
    display: flex;
    justify-content: center;
    margin-top: -3rem;
}